.catalogButton {
    padding: 10px 20px;
    border: 1px solid #1a73e8;
    color: #1a73e8;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  
    &:hover {
      background-color: rgba(#1a73e8, 0.1);
    }
  }